In [21]:
import xlrd
# comentarios
#path: direccion de archivo

import os
import pandas as pd
import numpy as np
import array as arr
import altair as alt

pd.set_option("display.max_columns",None)

In [22]:
gastoIES = pd.read_excel("n2017_PY_Gasto_en_Salud_por_Fuente_de_Financiamiento_1993-2017.xlsx")
gastoIES=gastoIES[["Anio","Estado_Abreviado","EstadoPrint","IES_GPTS_porcentaje_PIB","IES_GPTS_porcentaje_GPT","IES_GPS_PERCAPITA_Total_n2017"]]
gastoIES=gastoIES[gastoIES.Estado_Abreviado != "EUM"].rename(columns={"Estado_Abreviado":"Estado","IES_GPTS_porcentaje_PIB":"PIB","IES_GPTS_porcentaje_GPT":"GPT","IES_GPS_PERCAPITA_Total_n2017":"PERCAPITA"})

In [23]:
periodo = 6
sexenios = [i for i in range(gastoIES.Anio.min(), gastoIES.Anio.max()+periodo, periodo)]
sexenios=[1995,2001,2007,2013,2018]
print(sexenios)

sexeniosCol = pd.cut(gastoIES.Anio, bins=sexenios, precision=0, right=False)
gastoIES.insert(1, "sexenio", sexeniosCol)
gastoIES.head()

[1995, 2001, 2007, 2013, 2018]

,Anio,sexenio,Estado,EstadoPrint,PIB,GPT,PERCAPITA
1,1995,"[1995, 2001)",AGS,Aguascalientes,2.278928,10.647619,1959.069682
2,1995,"[1995, 2001)",BC,Baja California,2.163063,22.601979,2317.759096
3,1995,"[1995, 2001)",BCS,Baja California Sur,3.742114,21.956918,3609.493866
4,1995,"[1995, 2001)",CAMP,Campeche,1.537610,6.582009,2409.419805
5,1995,"[1995, 2001)",COAH,Coahuila,2.400249,17.083340,2621.670253

In [24]:
gastoIES

,Anio,sexenio,Estado,EstadoPrint,PIB,GPT,PERCAPITA
1,1995,"[1995, 2001)",AGS,Aguascalientes,2.278928,10.647619,1959.069682
2,1995,"[1995, 2001)",BC,Baja California,2.163063,22.601979,2317.759096
3,1995,"[1995, 2001)",BCS,Baja California Sur,3.742114,21.956918,3609.493866
4,1995,"[1995, 2001)",CAMP,Campeche,1.537610,6.582009,2409.419805
5,1995,"[1995, 2001)",COAH,Coahuila,2.400249,17.083340,2621.670253
...,...,...,...,...,...,...,...
754,2017,"[2013, 2018)",TAMPS,Tamaulipas,3.181874,18.173028,5339.333865
755,2017,"[2013, 2018)",TLAX,Tlaxcala,4.977256,28.274960,4374.314206
756,2017,"[2013, 2018)",VER,Veracruz,3.916907,17.513495,4510.971605
757,2017,"[2013, 2018)",YUC,Yucatán,4.249854,22.314929,5875.742148
758,2017,"[2013, 2018)",ZAC,Zacatecas,3.747525,25.655200,4616.959496

In [25]:
gastoSexenios=gastoIES.sort_values(by=["Estado","Anio"],ascending=True).reset_index()
gastoSexenios

,index,Anio,sexenio,Estado,EstadoPrint,PIB,GPT,PERCAPITA
0,1,1995,"[1995, 2001)",AGS,Aguascalientes,2.278928,10.647619,1959.069682
1,34,1996,"[1995, 2001)",AGS,Aguascalientes,1.987116,10.914541,1838.158261
2,67,1997,"[1995, 2001)",AGS,Aguascalientes,2.143517,13.529886,2155.873869
3,100,1998,"[1995, 2001)",AGS,Aguascalientes,2.319555,13.109835,2388.303511
4,133,1999,"[1995, 2001)",AGS,Aguascalientes,2.761372,15.017065,2989.039477
...,...,...,...,...,...,...,...,...
731,626,2013,"[2013, 2018)",ZAC,Zacatecas,3.941298,21.766645,4307.035375
732,659,2014,"[2013, 2018)",ZAC,Zacatecas,3.834181,21.374967,4276.775771
733,692,2015,"[2013, 2018)",ZAC,Zacatecas,3.856125,22.107488,4506.750129
734,725,2016,"[2013, 2018)",ZAC,Zacatecas,3.674188,21.830197,4437.413443
735,758,2017,"[2013, 2018)",ZAC,Zacatecas,3.747525,25.655200,4616.959496

In [26]:

gastoIES

,Anio,sexenio,Estado,EstadoPrint,PIB,GPT,PERCAPITA
1,1995,"[1995, 2001)",AGS,Aguascalientes,2.278928,10.647619,1959.069682
2,1995,"[1995, 2001)",BC,Baja California,2.163063,22.601979,2317.759096
3,1995,"[1995, 2001)",BCS,Baja California Sur,3.742114,21.956918,3609.493866
4,1995,"[1995, 2001)",CAMP,Campeche,1.537610,6.582009,2409.419805
5,1995,"[1995, 2001)",COAH,Coahuila,2.400249,17.083340,2621.670253
...,...,...,...,...,...,...,...
754,2017,"[2013, 2018)",TAMPS,Tamaulipas,3.181874,18.173028,5339.333865
755,2017,"[2013, 2018)",TLAX,Tlaxcala,4.977256,28.274960,4374.314206
756,2017,"[2013, 2018)",VER,Veracruz,3.916907,17.513495,4510.971605
757,2017,"[2013, 2018)",YUC,Yucatán,4.249854,22.314929,5875.742148
758,2017,"[2013, 2018)",ZAC,Zacatecas,3.747525,25.655200,4616.959496

In [27]:
with pd.ExcelWriter("GASTO_CSV.xlsx") as writer:
  gastoIES.to_excel(writer, sheet_name="gasto")

In [28]:
gastoSexenios= gastoIES
gastoSexenios

,Anio,sexenio,Estado,EstadoPrint,PIB,GPT,PERCAPITA
1,1995,"[1995, 2001)",AGS,Aguascalientes,2.278928,10.647619,1959.069682
2,1995,"[1995, 2001)",BC,Baja California,2.163063,22.601979,2317.759096
3,1995,"[1995, 2001)",BCS,Baja California Sur,3.742114,21.956918,3609.493866
4,1995,"[1995, 2001)",CAMP,Campeche,1.537610,6.582009,2409.419805
5,1995,"[1995, 2001)",COAH,Coahuila,2.400249,17.083340,2621.670253
...,...,...,...,...,...,...,...
754,2017,"[2013, 2018)",TAMPS,Tamaulipas,3.181874,18.173028,5339.333865
755,2017,"[2013, 2018)",TLAX,Tlaxcala,4.977256,28.274960,4374.314206
756,2017,"[2013, 2018)",VER,Veracruz,3.916907,17.513495,4510.971605
757,2017,"[2013, 2018)",YUC,Yucatán,4.249854,22.314929,5875.742148
758,2017,"[2013, 2018)",ZAC,Zacatecas,3.747525,25.655200,4616.959496

In [29]:
px = pd.DataFrame(gastoSexenios.groupby(["Estado","sexenio"])[["PIB","GPT","PERCAPITA"]].mean())
px

                          PIB        GPT    PERCAPITA
Estado sexenio
AGS    [1995, 2001)  2.324281  12.666491  2388.982393
       [2001, 2007)  2.789532  20.431667  3676.830666
       [2007, 2013)  3.107504  22.951667  4759.803895
       [2013, 2018)  2.926802  25.119454  5412.439875
BC     [1995, 2001)  1.986242  18.483327  2434.755124
...                       ...        ...          ...
YUC    [2013, 2018)  4.585732  22.590562  5901.180611
ZAC    [1995, 2001)  2.970269  14.157713  1387.131651
       [2001, 2007)  3.820361  18.115000  2636.658215
       [2007, 2013)  3.532769  19.913333  3777.198655
       [2013, 2018)  3.810663  22.546900  4428.986843

[128 rows x 3 columns]

In [30]:
meanSexenios = pd.DataFrame(gastoSexenios.groupby("Estado")["PIB"].mean())
meanSexenios = meanSexenios.sort_values(by="PIB",ascending=True)
meanSexenios["Orden"]=meanSexenios.reset_index().index+1
meanSexenios=pd.merge(meanSexenios,gastoIES,on="Estado",how="inner").sort_values(by=["Orden","Anio"],ascending=True)
meanSexenios.rename(columns={"PIB_x":"PIB","PIB_y":"PIB_mean"},inplace=True)
meanSexenios

,Estado,PIB,Orden,Anio,sexenio,EstadoPrint,PIB_mean,GPT,PERCAPITA
0,CAMP,1.125302,1,1995,"[1995, 2001)",Campeche,1.537610,6.582009,2409.419805
1,CAMP,1.125302,1,1996,"[1995, 2001)",Campeche,1.409711,4.817801,2180.641158
2,CAMP,1.125302,1,1997,"[1995, 2001)",Campeche,1.591786,5.386548,2476.466433
3,CAMP,1.125302,1,1998,"[1995, 2001)",Campeche,1.955212,4.810215,2707.429223
4,CAMP,1.125302,1,1999,"[1995, 2001)",Campeche,2.076391,7.514958,3205.240990
...,...,...,...,...,...,...,...,...,...
731,NAY,4.234037,32,2013,"[2013, 2018)",Nayarit,4.652251,21.766850,4719.165012
732,NAY,4.234037,32,2014,"[2013, 2018)",Nayarit,4.195087,18.986366,4348.233386
733,NAY,4.234037,32,2015,"[2013, 2018)",Nayarit,4.287882,19.823885,4697.155252
734,NAY,4.234037,32,2016,"[2013, 2018)",Nayarit,3.981486,20.340046,4562.289993
735,NAY,4.234037,32,2017,"[2013, 2018)",Nayarit,4.073215,23.593870,4832.969703

In [31]:
with pd.ExcelWriter("GASTO_CSV.xlsx") as writer:
  gastoSexenios.to_excel(writer, sheet_name="gasto_Sexenios")

In [32]:
gastoIES[["PIB","Anio"]]

          PIB  Anio
1    2.278928  1995
2    2.163063  1995
3    3.742114  1995
4    1.537610  1995
5    2.400249  1995
..        ...   ...
754  3.181874  2017
755  4.977256  2017
756  3.916907  2017
757  4.249854  2017
758  3.747525  2017

[736 rows x 2 columns]

In [33]:
gastoIES

,Anio,sexenio,Estado,EstadoPrint,PIB,GPT,PERCAPITA
1,1995,"[1995, 2001)",AGS,Aguascalientes,2.278928,10.647619,1959.069682
2,1995,"[1995, 2001)",BC,Baja California,2.163063,22.601979,2317.759096
3,1995,"[1995, 2001)",BCS,Baja California Sur,3.742114,21.956918,3609.493866
4,1995,"[1995, 2001)",CAMP,Campeche,1.537610,6.582009,2409.419805
5,1995,"[1995, 2001)",COAH,Coahuila,2.400249,17.083340,2621.670253
...,...,...,...,...,...,...,...
754,2017,"[2013, 2018)",TAMPS,Tamaulipas,3.181874,18.173028,5339.333865
755,2017,"[2013, 2018)",TLAX,Tlaxcala,4.977256,28.274960,4374.314206
756,2017,"[2013, 2018)",VER,Veracruz,3.916907,17.513495,4510.971605
757,2017,"[2013, 2018)",YUC,Yucatán,4.249854,22.314929,5875.742148
758,2017,"[2013, 2018)",ZAC,Zacatecas,3.747525,25.655200,4616.959496

In [34]:
gastoPERC = pd.DataFrame(gastoIES.groupby("Estado")["PERCAPITA"].mean())
gastoPERC = gastoPERC.sort_values(by="PERCAPITA",ascending=True)
gastoPERC["OrdenPERC"]=gastoPERC.reset_index().index+1
gastoPERC=pd.merge(gastoIES,gastoPERC,on="Estado",how="inner").sort_values(by=["OrdenPERC","Anio"],ascending=True)
gastoPERC.rename(columns={"PERCAPITA_x":"PERCAPITA","PERCAPITA_y":"PERCAPITA_mean"},inplace=True)
gastoPERC=gastoPERC.sort_values(by=["Estado","Anio"],ascending=True)
gastoPERC

,Anio,sexenio,Estado,EstadoPrint,PIB,GPT,PERCAPITA,PERCAPITA_mean,OrdenPERC
0,1995,"[1995, 2001)",AGS,Aguascalientes,2.278928,10.647619,1959.069682,4000.691352,25
1,1996,"[1995, 2001)",AGS,Aguascalientes,1.987116,10.914541,1838.158261,4000.691352,25
2,1997,"[1995, 2001)",AGS,Aguascalientes,2.143517,13.529886,2155.873869,4000.691352,25
3,1998,"[1995, 2001)",AGS,Aguascalientes,2.319555,13.109835,2388.303511,4000.691352,25
4,1999,"[1995, 2001)",AGS,Aguascalientes,2.761372,15.017065,2989.039477,4000.691352,25
...,...,...,...,...,...,...,...,...,...
731,2013,"[2013, 2018)",ZAC,Zacatecas,3.941298,21.766645,4307.035375,2997.863710,12
732,2014,"[2013, 2018)",ZAC,Zacatecas,3.834181,21.374967,4276.775771,2997.863710,12
733,2015,"[2013, 2018)",ZAC,Zacatecas,3.856125,22.107488,4506.750129,2997.863710,12
734,2016,"[2013, 2018)",ZAC,Zacatecas,3.674188,21.830197,4437.413443,2997.863710,12
735,2017,"[2013, 2018)",ZAC,Zacatecas,3.747525,25.655200,4616.959496,2997.863710,12

In [35]:
gastoPERC = pd.DataFrame(gastoIES.groupby("Estado")["PERCAPITA"].mean())
gastoPERC = gastoPERC.sort_values(by="PERCAPITA",ascending=True)
gastoPERC["OrdenPERC"]=gastoPERC.reset_index().index+1
gastoPERC["OrdenEndpoint"]=gastoPERC.reset_index().index+1
gastoPERC=pd.merge(gastoIES,gastoPERC,on="Estado",how="inner").sort_values(by=["OrdenPERC","Anio"],ascending=True)
gastoPERC.rename(columns={"PERCAPITA_x":"PERCAPITA","PERCAPITA_y":"PERCAPITA_mean"},inplace=True)
gastoPERC=gastoPERC.sort_values(by=["OrdenPERC","Estado","Anio"],ascending=True)
gastoPERC

,Anio,sexenio,Estado,EstadoPrint,PIB,GPT,PERCAPITA,PERCAPITA_mean,OrdenPERC,OrdenEndpoint
138,1995,"[1995, 2001)",CHIS,Chiapas,3.082612,12.542548,1059.624317,2355.212141,1,1
139,1996,"[1995, 2001)",CHIS,Chiapas,2.782510,8.104573,967.161306,2355.212141,1,1
140,1997,"[1995, 2001)",CHIS,Chiapas,2.395682,6.903133,878.316264,2355.212141,1,1
141,1998,"[1995, 2001)",CHIS,Chiapas,2.675156,8.131984,972.790184,2355.212141,1,1
142,1999,"[1995, 2001)",CHIS,Chiapas,3.553554,10.620692,1302.927966,2355.212141,1,1
...,...,...,...,...,...,...,...,...,...,...
202,2013,"[2013, 2018)",CDMX,Ciudad de México,3.737296,8.521787,12956.978154,9498.226880,32,32
203,2014,"[2013, 2018)",CDMX,Ciudad de México,3.022471,6.671049,10536.780110,9498.226880,32,32
204,2015,"[2013, 2018)",CDMX,Ciudad de México,3.190114,6.742936,11531.744309,9498.226880,32,32
205,2016,"[2013, 2018)",CDMX,Ciudad de México,3.016004,5.826136,11408.210662,9498.226880,32,32
206,2017,"[2013, 2018)",CDMX,Ciudad de México,2.908126,6.810649,11251.331521,9498.226880,32,32

In [36]:
gastoPERC["ORPERC"]=gastoPERC.OrdenPERC
gastoPERC

,Anio,sexenio,Estado,EstadoPrint,PIB,GPT,PERCAPITA,PERCAPITA_mean,OrdenPERC,OrdenEndpoint,ORPERC
138,1995,"[1995, 2001)",CHIS,Chiapas,3.082612,12.542548,1059.624317,2355.212141,1,1,1
139,1996,"[1995, 2001)",CHIS,Chiapas,2.782510,8.104573,967.161306,2355.212141,1,1,1
140,1997,"[1995, 2001)",CHIS,Chiapas,2.395682,6.903133,878.316264,2355.212141,1,1,1
141,1998,"[1995, 2001)",CHIS,Chiapas,2.675156,8.131984,972.790184,2355.212141,1,1,1
142,1999,"[1995, 2001)",CHIS,Chiapas,3.553554,10.620692,1302.927966,2355.212141,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
202,2013,"[2013, 2018)",CDMX,Ciudad de México,3.737296,8.521787,12956.978154,9498.226880,32,32,32
203,2014,"[2013, 2018)",CDMX,Ciudad de México,3.022471,6.671049,10536.780110,9498.226880,32,32,32
204,2015,"[2013, 2018)",CDMX,Ciudad de México,3.190114,6.742936,11531.744309,9498.226880,32,32,32
205,2016,"[2013, 2018)",CDMX,Ciudad de México,3.016004,5.826136,11408.210662,9498.226880,32,32,32
206,2017,"[2013, 2018)",CDMX,Ciudad de México,2.908126,6.810649,11251.331521,9498.226880,32,32,32

In [37]:
gastoPERC.to_json(r"datos/JSON_PERC.json",orient="table")

In [38]:
gastoPIB = pd.DataFrame(gastoIES.groupby("Estado")["PIB"].mean())
gastoPIB = gastoPIB.sort_values(by="PIB",ascending=True)
gastoPIB["OrdenPIB"]=gastoPIB.reset_index().index+1
gastoPIB["OrdenEndpoint"]=gastoPIB.reset_index().index+1
gastoPIB=pd.merge(gastoIES,gastoPIB,on="Estado",how="inner").sort_values(by=["OrdenPIB","Anio"],ascending=True)
gastoPIB.rename(columns={"PIB_x":"PIB","PIB_y":"PIB_mean"},inplace=True)
gastoPIB

,Anio,sexenio,Estado,EstadoPrint,PIB,GPT,PERCAPITA,PIB_mean,OrdenPIB,OrdenEndpoint
69,1995,"[1995, 2001)",CAMP,Campeche,1.537610,6.582009,2409.419805,1.125302,1,1
70,1996,"[1995, 2001)",CAMP,Campeche,1.409711,4.817801,2180.641158,1.125302,1,1
71,1997,"[1995, 2001)",CAMP,Campeche,1.591786,5.386548,2476.466433,1.125302,1,1
72,1998,"[1995, 2001)",CAMP,Campeche,1.955212,4.810215,2707.429223,1.125302,1,1
73,1999,"[1995, 2001)",CAMP,Campeche,2.076391,7.514958,3205.240990,1.125302,1,1
...,...,...,...,...,...,...,...,...,...,...
409,2013,"[2013, 2018)",NAY,Nayarit,4.652251,21.766850,4719.165012,4.234037,32,32
410,2014,"[2013, 2018)",NAY,Nayarit,4.195087,18.986366,4348.233386,4.234037,32,32
411,2015,"[2013, 2018)",NAY,Nayarit,4.287882,19.823885,4697.155252,4.234037,32,32
412,2016,"[2013, 2018)",NAY,Nayarit,3.981486,20.340046,4562.289993,4.234037,32,32
413,2017,"[2013, 2018)",NAY,Nayarit,4.073215,23.593870,4832.969703,4.234037,32,32

In [39]:
gastoPIB.to_json(r"datos/JSON_PIB.json",orient="table")

In [40]:
gastoGPT = pd.DataFrame(gastoIES.groupby("Estado")["GPT"].mean())
gastoGPT = gastoGPT.sort_values(by="GPT",ascending=True)
gastoGPT["OrdenGPT"]=gastoGPT.reset_index().index+1
gastoGPT["OrdenEndpoint"]=gastoGPT.reset_index().index+1
gastoGPT=pd.merge(gastoIES,gastoGPT,on="Estado",how="inner").sort_values(by=["OrdenGPT","Anio"],ascending=True)
gastoGPT.rename(columns={"GPT_x":"GPT","GPT_y":"GPT_mean"},inplace=True)
gastoGPT

,Anio,sexenio,Estado,EstadoPrint,PIB,GPT,PERCAPITA,GPT_mean,OrdenGPT,OrdenEndpoint
69,1995,"[1995, 2001)",CAMP,Campeche,1.537610,6.582009,2409.419805,5.664379,1,1
70,1996,"[1995, 2001)",CAMP,Campeche,1.409711,4.817801,2180.641158,5.664379,1,1
71,1997,"[1995, 2001)",CAMP,Campeche,1.591786,5.386548,2476.466433,5.664379,1,1
72,1998,"[1995, 2001)",CAMP,Campeche,1.955212,4.810215,2707.429223,5.664379,1,1
73,1999,"[1995, 2001)",CAMP,Campeche,2.076391,7.514958,3205.240990,5.664379,1,1
...,...,...,...,...,...,...,...,...,...,...
317,2013,"[2013, 2018)",JAL,Jalisco,2.774804,30.261226,4210.927569,29.776192,32,32
318,2014,"[2013, 2018)",JAL,Jalisco,2.786809,29.407469,4361.567434,29.776192,32,32
319,2015,"[2013, 2018)",JAL,Jalisco,2.673096,27.847115,4425.757595,29.776192,32,32
320,2016,"[2013, 2018)",JAL,Jalisco,2.459699,26.469881,4339.681327,29.776192,32,32
321,2017,"[2013, 2018)",JAL,Jalisco,2.495307,27.611914,4511.382516,29.776192,32,32

In [41]:
gastoGPT.to_json(r"datos/JSON_GPT.json",orient="table")

In [42]:
gastoALF = pd.DataFrame(gastoIES.groupby("Estado")["GPT"].mean())
gastoALF = gastoALF.sort_values(by="Estado",ascending=True)
gastoALF["Orden"]=gastoALF.reset_index().index+1
gastoALF=pd.merge(gastoIES,gastoALF,on="Estado",how="inner").sort_values(by=["Estado","Anio"],ascending=True)
gastoALF.rename(columns={"GPT_x":"GPT","GPT_y":"GPT_mean"},inplace=True)
gastoALF

,Anio,sexenio,Estado,EstadoPrint,PIB,GPT,PERCAPITA,GPT_mean,Orden
0,1995,"[1995, 2001)",AGS,Aguascalientes,2.278928,10.647619,1959.069682,20.082444,1
1,1996,"[1995, 2001)",AGS,Aguascalientes,1.987116,10.914541,1838.158261,20.082444,1
2,1997,"[1995, 2001)",AGS,Aguascalientes,2.143517,13.529886,2155.873869,20.082444,1
3,1998,"[1995, 2001)",AGS,Aguascalientes,2.319555,13.109835,2388.303511,20.082444,1
4,1999,"[1995, 2001)",AGS,Aguascalientes,2.761372,15.017065,2989.039477,20.082444,1
...,...,...,...,...,...,...,...,...,...
731,2013,"[2013, 2018)",ZAC,Zacatecas,3.941298,21.766645,4307.035375,18.515251,32
732,2014,"[2013, 2018)",ZAC,Zacatecas,3.834181,21.374967,4276.775771,18.515251,32
733,2015,"[2013, 2018)",ZAC,Zacatecas,3.856125,22.107488,4506.750129,18.515251,32
734,2016,"[2013, 2018)",ZAC,Zacatecas,3.674188,21.830197,4437.413443,18.515251,32
735,2017,"[2013, 2018)",ZAC,Zacatecas,3.747525,25.655200,4616.959496,18.515251,32

In [43]:
gastoALF.to_json(r"datos/JSON_ALF.json",orient="table")

In [44]:
with pd.ExcelWriter("GASTO_CSV.xlsx") as writer:
  gastoPERC.to_excel(writer, sheet_name="PERC")
  gastoPIB.to_excel(writer, sheet_name="PIB")
  gastoGPT.to_excel(writer, sheet_name="GPT")
  gastoALF.to_excel(writer, sheet_name="ALF")

In [45]:
gastoIES

,Anio,sexenio,Estado,EstadoPrint,PIB,GPT,PERCAPITA
1,1995,"[1995, 2001)",AGS,Aguascalientes,2.278928,10.647619,1959.069682
2,1995,"[1995, 2001)",BC,Baja California,2.163063,22.601979,2317.759096
3,1995,"[1995, 2001)",BCS,Baja California Sur,3.742114,21.956918,3609.493866
4,1995,"[1995, 2001)",CAMP,Campeche,1.537610,6.582009,2409.419805
5,1995,"[1995, 2001)",COAH,Coahuila,2.400249,17.083340,2621.670253
...,...,...,...,...,...,...,...
754,2017,"[2013, 2018)",TAMPS,Tamaulipas,3.181874,18.173028,5339.333865
755,2017,"[2013, 2018)",TLAX,Tlaxcala,4.977256,28.274960,4374.314206
756,2017,"[2013, 2018)",VER,Veracruz,3.916907,17.513495,4510.971605
757,2017,"[2013, 2018)",YUC,Yucatán,4.249854,22.314929,5875.742148
758,2017,"[2013, 2018)",ZAC,Zacatecas,3.747525,25.655200,4616.959496

In [46]:
presis = [
    "Ernesto Zedillo Ponce de León", 
    "Vicente Fox Quesada", 
    "Felipe Calderón Hinojosa",
    "Enrique Peña Nieto"]

presidenteCol = pd.cut(gastoIES.Anio, bins=sexenios, precision=0, right=False, labels=presis)
gastoIES.insert(1, "presidente", presidenteCol)
gastoIES.head()

,Anio,presidente,sexenio,Estado,EstadoPrint,PIB,GPT,PERCAPITA
1,1995,Ernesto Zedillo Ponce de León,"[1995, 2001)",AGS,Aguascalientes,2.278928,10.647619,1959.069682
2,1995,Ernesto Zedillo Ponce de León,"[1995, 2001)",BC,Baja California,2.163063,22.601979,2317.759096
3,1995,Ernesto Zedillo Ponce de León,"[1995, 2001)",BCS,Baja California Sur,3.742114,21.956918,3609.493866
4,1995,Ernesto Zedillo Ponce de León,"[1995, 2001)",CAMP,Campeche,1.537610,6.582009,2409.419805
5,1995,Ernesto Zedillo Ponce de León,"[1995, 2001)",COAH,Coahuila,2.400249,17.083340,2621.670253

In [47]:
gastoIES.sexenio.unique()

[[1995, 2001), [2001, 2007), [2007, 2013), [2013, 2018)]
Categories (4, interval[int64, left]): [[1995, 2001) < [2001, 2007) < [2007, 2013) < [2013, 2018)]

In [48]:
gastoIES=gastoIES.groupby(["Estado", "sexenio"]).mean()

In [49]:
meanPERC = pd.DataFrame(gastoIES.groupby("Estado")["PERCAPITA"].mean())
meanPERC = meanPERC.sort_values(by="PERCAPITA",ascending=True)
meanPERC["Orden"]=meanPERC.reset_index().index+1
meanPERC=pd.merge(meanPERC,gastoIES,on="Estado",how="inner").sort_values(by=["Orden","Anio"],ascending=True)
meanPERC.rename(columns={"PERCAPITA_x":"PERCAPITA","PERCAPITA_y":"PERCAPITA_mean"},inplace=True)
meanPERC

          PERCAPITA  Orden    Anio       PIB        GPT  PERCAPITA_mean
Estado
CHIS    2401.625922      1  1997.5  3.031357   9.543822     1103.833708
CHIS    2401.625922      1  2003.5  3.744797  15.070000     1947.593523
CHIS    2401.625922      1  2009.5  4.825630  17.701667     3085.933565
CHIS    2401.625922      1  2015.0  5.478919  18.481366     3469.142892
MICH    2446.389827      2  1997.5  2.374804  14.648660     1142.041314
...             ...    ...     ...       ...        ...             ...
BCS     5607.353616     31  2015.0  3.285400  17.387763     6532.998440
CDMX    9583.176133     32  1997.5  2.882883  13.131239     6268.273877
CDMX    9583.176133     32  2003.5  3.177194  10.718333     8855.970946
CDMX    9583.176133     32  2009.5  3.584998   9.536667    11671.450757
CDMX    9583.176133     32  2015.0  3.174802   6.914511    11537.008951

[128 rows x 6 columns]

In [50]:
meanPERC.to_json(r"datos/JSON_meanPERC.json",orient="table")

In [51]:
with pd.ExcelWriter("GASTO_CSV.xlsx") as writer:
  gastoIES.to_excel(writer, sheet_name="IES")
  gastoPERC.to_excel(writer, sheet_name="PERC")
  gastoPIB.to_excel(writer, sheet_name="PIB")
  gastoGPT.to_excel(writer, sheet_name="GPT")
  gastoALF.to_excel(writer, sheet_name="ALF")
  meanPERC.to_excel(writer, sheet_name="meanPERC")

In [52]:
meanPIB = pd.DataFrame(gastoIES.groupby("Estado")["PIB"].mean())
meanPIB = meanPIB.sort_values(by="PIB",ascending=True)
meanPIB["Orden"]=meanPIB.reset_index().index+1
meanPIB=pd.merge(meanPIB,gastoIES,on="Estado",how="inner").sort_values(by=["Orden","Anio"],ascending=True)
meanPIB.rename(columns={"PIB_x":"PIB","PIB_y":"PIB_mean"},inplace=True)
meanPIB

             PIB  Orden    Anio  PIB_mean        GPT    PERCAPITA
Estado
CAMP    1.120061      1  1997.5  1.768191   6.018588  2740.754515
CAMP    1.120061      1  2003.5  1.106372   7.696667  4751.925666
CAMP    1.120061      1  2009.5  0.606164   5.236667  6528.398108
CAMP    1.120061      1  2015.0  0.999517   3.313836  6154.105895
NL      1.779428      2  1997.5  1.929468  24.470076  2940.910871
...          ...    ...     ...       ...        ...          ...
OAX     4.260568     31  2015.0  5.259814  18.792112  3906.549440
CHIS    4.270176     32  1997.5  3.031357   9.543822  1103.833708
CHIS    4.270176     32  2003.5  3.744797  15.070000  1947.593523
CHIS    4.270176     32  2009.5  4.825630  17.701667  3085.933565
CHIS    4.270176     32  2015.0  5.478919  18.481366  3469.142892

[128 rows x 6 columns]

In [53]:
meanPIB.to_json(r"datos/JSON_meanPIB.json",orient="table")

In [54]:
with pd.ExcelWriter("GASTO_CSV.xlsx") as writer:
  gastoPERC.to_excel(writer, sheet_name="PERC")
  gastoPIB.to_excel(writer, sheet_name="PIB")
  gastoGPT.to_excel(writer, sheet_name="GPT")
  gastoALF.to_excel(writer, sheet_name="ALF")
  meanPERC.to_excel(writer, sheet_name="meanPERC")
  meanPIB.to_excel(writer, sheet_name="meanPIB")

In [55]:
meanGPT = pd.DataFrame(gastoIES.groupby("Estado")["GPT"].mean())
meanGPT = meanGPT.sort_values(by="GPT",ascending=True)
meanGPT["Orden"]=meanGPT.reset_index().index+1
meanGPT=pd.merge(meanGPT,gastoIES,on="Estado",how="inner").sort_values(by=["Orden","Anio"],ascending=True)
meanGPT.rename(columns={"GPT_x":"GPT","GPT_y":"GPT_mean"},inplace=True)
meanGPT

              GPT  Orden    Anio       PIB   GPT_mean    PERCAPITA
Estado
CAMP     5.566440      1  1997.5  1.768191   6.018588  2740.754515
CAMP     5.566440      1  2003.5  1.106372   7.696667  4751.925666
CAMP     5.566440      1  2009.5  0.606164   5.236667  6528.398108
CAMP     5.566440      1  2015.0  0.999517   3.313836  6154.105895
CDMX    10.075187      2  1997.5  2.882883  13.131239  6268.273877
...           ...    ...     ...       ...        ...          ...
EDOMEX  28.010935     31  2015.0  4.210475  30.597387  4237.014192
JAL     29.715497     32  1997.5  2.370671  26.462468  2039.601365
JAL     29.715497     32  2003.5  2.631433  34.150000  3261.681925
JAL     29.715497     32  2009.5  2.769192  29.930000  4010.517066
JAL     29.715497     32  2015.0  2.637943  28.319521  4369.863288

[128 rows x 6 columns]

In [56]:
meanGPT.to_json(r"datos/JSON_meanGPT.json",orient="table")

In [57]:
with pd.ExcelWriter("GASTO_CSV.xlsx") as writer:
  gastoPERC.to_excel(writer, sheet_name="PERC")
  gastoPIB.to_excel(writer, sheet_name="PIB")
  gastoGPT.to_excel(writer, sheet_name="GPT")
  gastoALF.to_excel(writer, sheet_name="ALF")
  meanPERC.to_excel(writer, sheet_name="meanPERC")
  meanPIB.to_excel(writer, sheet_name="meanPIB")
  meanGPT.to_excel(writer, sheet_name="meanGPT")